.team-two {
  position: relative;
  background-color: var(--findox-white);
}
.team-two__bg {
  width: 100%;
  height: calc(100% - 478px);
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--findox-base);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
@media (max-width: 430px) {
  .team-two__bg {
    height: calc(100% - 400px);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .team-two__bg {
    height: calc(100% - 400px);
  }
}
.team-two__bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(var(--findox-base-rgb), 0.9);
}
.team-two__inner {
  position: relative;
  z-index: 1;
}
.team-two__carousel {
  margin-top: 60px;
}

.team-card-two__image__inner {
  position: relative;
  overflow: hidden;
  border: 10px solid var(--findox-white);
  border-bottom: none;
  border-radius: 500px 500px 0px 0px;
}
.team-card-two__image__inner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(50%);
  background: linear-gradient(
    180deg,
    rgba(199, 199, 199, 0) 63.97%,
    rgba(var(--findox-primary-rgb), 0.8) 83.11%
  );
  transition: all 0.5s ease;
}
.team-card-two__image__inner img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: top center;
  border-radius: inherit;
}
.team-card-two:hover .team-card-two__image__inner::after {
  opacity: 1;
  transform: translateY(0%);
}
.team-card-two__info {
  width: calc(100% - 90px);
  position: relative;
  margin: -50px auto 0px;
}
@media (max-width: 412px) {
  .team-card-two__info {
    width: calc(100% - 50px);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .team-card-two__info {
    width: calc(100% - 70px);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .team-card-two__info {
    width: calc(100% - 40px);
  }
}
.team-card-two__info__inner {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 34px 25px 21px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--findox-white);
  border: 1px solid var(--findox-border-color);
}
@media (max-width: 360px) {
  .team-card-two__info__inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.team-card-two__info__inner::before {
  content: "";
  width: 100%;
  height: 0%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  background-color: var(--findox-base);
  transition: all 500ms ease;
}
.team-card-two:hover .team-card-two__info__inner::before {
  height: 100%;
  top: 0px;
}
.team-card-two__social {
  width: 46px;
  height: 70px;
  position: absolute;
  top: -47px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}
.team-card-two__social__icon {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 16px;
  color: var(--findox-white);
  border-radius: 50%;
  background-color: var(--findox-base);
  border: 3px solid var(--findox-white);
  transition: all 500ms ease;
}
.team-card-two__social__icon svg {
  width: 1em;
  height: 1em;
}
.team-card-two__social__icon:hover {
  color: var(--findox-base);
  background-color: var(--findox-primary);
}
.team-card-two__social .social-links {
  gap: 8px;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: auto;
  position: absolute;
  top: -220%;
  left: 0px;
  right: 0px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%);
  transition: all 500ms ease;
}
.team-card-two__social .social-links a {
  width: 35px;
  height: 35px;
  border: none;
  background-color: var(--findox-white);
}
.team-card-two__social .social-links a:hover {
  background-color: var(--findox-primary);
}
.team-card-two__social .social-links a .social-links__icon {
  color: var(--findox-base);
}
.team-card-two__social:hover .social-links,
.team-card-two__social:focus-within .social-links {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}
.team-card-two__name {
  margin-bottom: 2px;
  font-size: 22px;
  color: var(--findox-black2);
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.318;
  transition: all 500ms ease;
}
@media (max-width: 390px) {
  .team-card-two__name {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .team-card-two__name {
    font-size: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .team-card-two__name {
    font-size: 20px;
  }
}
.team-card-two__name a {
  color: inherit;
  background: linear-gradient(to right, currentcolor 0%, currentcolor 100%) 0px 95%/0px 1px no-repeat;
  transition: all 500ms ease;
}
.team-card-two__name a:hover {
  background-size: 100% 1px;
}
.team-card-two__designation {
  margin: 0px;
  color: var(--findox-text);
  text-transform: capitalize;
  transition: all 500ms ease;
}
.team-card-two:hover .team-card-two__name,
.team-card-two:hover .team-card-two__designation {
  color: var(--findox-white);
}
